.pole{
    border-style: solid;
    border-color: black;
    width: 200px;
}
td{
    border-style: solid;
    border-color: black;
    font-size: 25px;
    padding: 8px;
}
#pole_gry{
    display: flex;
    justify-content: center;
    width: 700px;
    flex-wrap: wrap;
    margin: auto;
}
.input_pl{
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}