.pole{
    border-style: solid;
    border-color: black;
    width: 200px;
}
td{
    border-style: solid;
    border-color: black;
    font-size: 25px;
    padding: 8px;
}
#pole_gry{
    display: flex;
    justify-content: center;
    width: 700px;
    flex-wrap: wrap;
    margin-right: 75px;
    margin-left: auto;
    background-color: white;
}
.input_pl{
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}
#menu_bok{
    justify-content: center;
    margin-right: auto;
    width: 510px;
}
#przciski{
    width: 510px;
}
.przycisk{
    width: 250px;
    height: 50px;
    font-size: 20px;
}
#gra{
    margin-top: 50px;
    justify-content: center;
    display: flex;
}
#wiadomosci{
    margin-top: 30px;
    margin-bottom: 30px;

}
#tekst_w{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
h1{
    text-align: center;
    font-size: 40px;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("media/sudoku.jpg");
}