.pole{
    border-style: solid;
    border-color: black;
    width: 200px;
    margin: 5px;
}
td{
    border-style: solid;
    border-color: black;
    font-size: 25px;
    padding: 8px;
}
#pole_gry{
    display: flex;
    justify-content: center;
    width: 630px;
    flex-wrap: wrap;
    margin: auto;
}